.sidepanel {
    position: fixed;
    top: 390px;
    left: -85px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    transform: rotate(-90deg);
    &__divider {
        width: 60px;
        height: 2px;
        background-color: #000;
    }
    &__text {
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap; // Предотвращает перенос текст
    }
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;  
        gap: 14px;
    }
    &__link {
        @include social_link_animation;
    }
}